<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    <!-- Aggiornamento: Includi jQuery prima di Bootstrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Stile/Img/Gemini_Generated_Image.jpeg" alt="Logo" class="navbar-logo rounded-circle" width="50" height="50" />
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Prodotti", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("I tuoi ordini!", "Details", "Orders", new { id = User.Identity.Name }, new { @class = "nav-link" })</li>
                        <li>
                            <form class="form-inline my-2 my-lg-0" action="@Url.Action("Search", "Products")" method="get">
                                <input class="form-control mr-sm-2" type="search" placeholder="Cerca prodotti" aria-label="Search" name="searchTerm">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
                            </form>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Prodotti", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Aggiungi prodotto!", "Create", "Products", new { id = User.Identity.Name }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ordini Generali!", "Index", "Orders", new { id = User.Identity.Name }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Tutti i clienti!", "Index", "Users", new { id = User.Identity.Name }, new { @class = "nav-link" })</li>
                        <li>
                            <form class="form-inline my-2 my-lg-0" action="@Url.Action("Search", "Users")" method="get">
                                <input class="form-control mr-sm-2" type="search" placeholder="Cerca user con il nick" aria-label="Search" name="searchTerm">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
                            </form>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a href="@Url.Action("Details", "Users", new {id = User.Identity.Name})"><img src="~/Stile/Img/Propic/PicDefault.png" height="30" width="30" class="rounded-pill" /></a></li>
                            <li class="nav-item"><a href="@Url.Action("Logout", "Auth")"><img src="~/Stile/Img/Propic/logout.png" height="30" width="30" /></a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a href="@Url.Action("Cart", "OrdersProducts")"><img src="~/Stile/Img/Propic/shopping-cart.png" height="30" width="30" /></a></li>
                            <li class="nav-item"><a href="@Url.Action("Details", "Users", new {id = User.Identity.Name})"><img src="~/Stile/Img/Propic/PicDefault.png" height="30" width="30" class="rounded-pill" /></a></li>
                            <li class="nav-item"><a href="@Url.Action("Logout", "Auth")"><img src="~/Stile/Img/Propic/logout.png" height="30" width="30" /></a></li>
                        }
                    }
                    else
                    {
                        <li class="nav-item"><a href="@Url.Action("Login", "Auth")" class="btn btn-outline-light pacifico-regular">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SkinBazaar</p>
            <div class="row">
                <div class="col-2">
                    <a href="@Url.Action("Chisiamo", "Footer")">Chi siamo</a>
                </div>
                <div class="col-2 offset-2">
                    <a href="@Url.Action("DoveTrovarci", "Footer")">Dove Trovarci</a>
                </div>
                <div class="col-2 offset-2">
                    <a href="@Url.Action("Contattaci", "Footer")">Contattaci</a>
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
