@model List<CapstoneSkinMarket.Models.Orders>

<link href="~/Stile/Css/StoricoAcquisti.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Storico ordini</h4>
    <hr />
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4">
        @foreach (var order in Model)
        {
            <div class="col mb-4">
                <div class="card sfondo-card">
                    <div class="card-body">
                        <h5 class="card-title">Ordine: @order.OrdineID</h5>
                        <dl class="dl-horizontal">
                            <div>
                                <p class="text-orange-p">Nome e Cognome:</p>
                                <p class="text-purple-p">@Html.DisplayFor(model => order.Users.Nome) @Html.DisplayFor(model => order.Users.Cognome)</p>
                            </div>
                            <div>
                                <p class="text-orange-p">Indirizzo di fatturazione:</p>
                                <p class="text-purple-p">@Html.DisplayFor(model => order.IndirizzoFatturazione)</p>
                            </div>
                            <div>
                                <p class="text-orange-p">Metodo di pagamento:</p>
                                <p class="text-purple-p">@Html.DisplayFor(model => order.Pagamento.TipoPagamento)</p>
                            </div>
                            <div>
                                <p class="text-orange-p">Totale costo:  <span class="text-purple-p">@Html.DisplayFor(model => order.TotalePrezzo)</span></p>
                            </div>
                        </dl>
                        <div class="d-flex justify-content-center">
                            <a href="/OrdersProducts/Details/@order.OrdineID" class="btn btn-dettagli">Dettagli</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
