@model IEnumerable<CapstoneSkinMarket.Models.Users>

<link href="~/Stile/Css/ListaClienti.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-orange-h4 my-5">Tutti i nostri clienti</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 sfondo-card">
                    <div class="card-body">
                        <h5 class="card-title"><strong class="text-purple">@item.Username</strong></h5>
                        <p class="card-text"><strong class="text-purple">Nome</strong>: @item.Nome</p>
                        <p class="card-text"><strong class="text-purple">Cognome:</strong> @item.Cognome</p>
                        <p class="card-text"><strong class="text-purple">Email:</strong> @item.Email</p>
                        <p class="card-text"><strong class="text-purple">Ruolo:</strong> @item.Ruolo</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-sm btn-viola" })
                                @Html.ActionLink("Storico Acquisti", "Details", "Orders", new { id = item.UserID }, new { @class = "btn btn-sm btn-dettagli" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
