@model CapstoneSkinMarket.Models.Products

<link href="~/Stile/Css/ProductDelete.css" rel="stylesheet" />

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-center text-orange-h4 mt-5">Sei sicuro di voler eliminare questo prodotto?</h3>
<h3 class="text-center text-orange-h4 mb-5">E' un'azione irreversibile</h3>

<div>
    <div class="card sfondo-card mb-5">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Url.Content(Model.Immagine)" class="img-fluid rounded-start" alt="Immagine del gioco" style="object-fit: cover; height: 100%;">
        </div>
        <div class="col-md-6 offset-md-2">
            <div class="card-body">
                <h5 class="card-title font-size-title">@Html.DisplayFor(model => model.Games.NomeGioco)</h5>
                <p class="card-text"><strong>Nome:</strong> @Html.DisplayFor(model => model.Nome)</p>
                <p class="card-text"><strong>Descrizione:</strong> @Html.DisplayFor(model => model.Descrizione)</p>
                <p class="card-text"><strong>Prezzo:</strong> @Html.DisplayFor(model => model.Prezzo)€</p>
                <p class="card-text"><strong>Rarità:</strong> @Html.DisplayFor(model => model.Rarita)</p>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-viola" />
            </div>
        }
    </div>
</div>

    
</div>
